.background{
    margin:0;
    padding:0;
    background-color: hsl(212, 45%, 89%); 
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.box{
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    padding: 12px;
    border-radius: 12px;
}

.qrCode .qrImage{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.boldText p{
    text-align: center;
    text-decoration: bold;
    font-family: 'Outfit';
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}

.normalText p{
    text-align: center;
    font-family: 'Outfit';
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}

@media(max-width: 375px){
    body{
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh;
    }

    .background{
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh;
        
        width: 320px;
        height:550px;
        background-color: hsl(212, 45%, 89%);
    }
}